<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookName</title>
</head>
<body>
    
    <div class="side_bar1">
        <div class="logo">
        <a href="sign-in.html"><img src="img/Fate_crest.png" title="Profile" alt="logo"></a>
        </div>
        <div class="nav_icons">
            <ul>
                <li><a href="home.html"><img src="img/fate.jpg" title="Home" alt=""></a></li>
                <li><a href="categories.html"><img src="img/fate.jpg" title="Categories" alt=""></a></li>
                <li><a href="favorites.html"><img src="img/fate.jpg" title="Favorites" alt=""></a></li>
                <li><a href="about.html"><img src="img/fate.jpg" title="About" alt=""></a></li>
            </ul>
        </div>
        <div class="subscribe">
            <div class="sub_bell">
                <a href="#"><img src="img/Boruto-karma-seal-Cropped.jpg" alt="subscribe"></a>
                <p>Subscriptions</p>
            </div>
        </div>
    </div>

    <div class="main-container">

        <div class="side_bar">
        </div>

        <div class="content">

            <div class="nav">
                <input type="text" name="search" id="search" placeholder="Search for ...">
                <button type="submit">Search</button>
                <a href="#"><img src="img/all_might.jpg" alt="cart" title="cart"></a>
            </div>

            <div class="work">
                <img src="img/evangelion.jpg" alt="book_img">
                <div class="cont1">
                    <h1>Title of Work</h1>
                    <span>By : </span>Author Name<br>
                    <span>Date published : </span>23/04/2020<br>
                    <span>Pages : </span>20<br>
                    <span>Rated : </span>E<br>
                    <span>Lang : </span>English<br>
                    <p>
                    <span>Description</span><br> Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Distinctio cupiditate 
                        dolorum voluptatem, tempore voluptas rerum 
                        iusto sunt quia. Vitae aut obcaecati rerum 
                        alias aliquam aliquid asperiores quidem iste 
                        deleniti sit.
                    </p>
                </div>
                <div class="second">
                <span id="des">Description  </span>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Distinctio cupiditate 
                        dolorum voluptatem, tempore voluptas rerum 
                        iusto sunt quia. Vitae aut obcaecati rerum 
                        alias aliquam aliquid asperiores quidem iste 
                        deleniti sit.
                    </p>
                </div>
                <div class="cont2">
                    <h2>The Author</h2>
                    <a href="profile.html"><img src="img/all_might.jpg" alt=""></a>
                    <a href="profile.html"><span>Author's Name</span></a>
                    <button>Subscribe</button>
                </div>

                <div class="download">
                    <div class="down">
                        <h2>Download</h2>
                        <button>></button>
                    </div>
                    <div class="buy">
                        <h2>Buy</h2>
                        <button>></button>
                    </div>
                    <div class="donate">
                        <h2>Donate</h2>
                        <button>></button>
                    </div>
                </div>
                <div class="like">
                    <img src="img/all_might.jpg" alt="">
                    <img src="img/all_might.jpg" alt="">
                </div>
                
            </div>

            <div class="popular">
                <div class="header">
                    <h3>More by the Author</h3>
                    <div class="header_right">
                        <button><-</button>
                        <button>-></button>
                    </div>
                </div>
                <div class="books">
                    <div class="book">
                        <a href="book.html">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                        </a>
                    </div>
                    <div class="book">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                    </div>
                    <div class="book">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                    </div>
                    <div class="book">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                    </div>
                    <div class="book">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                    </div>
                    <div class="book">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                    </div>
                    <div class="book">
                        <img src="img/evangelion.jpg" alt="">
                        <h1>Book Name</h1>
                        <p>Author name</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>