<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>

    {% include 'partials/sidebar.html' %}

    <div class="main-container">

        <div class="side_bar">
        </div>

        <div class="content">

            <div class="nav">
                <input type="text" name="search" id="search" placeholder="Search for ...">
                <button type="submit">Search</button>
                <a href="#"><img src="img/all_might.jpg" alt="cart" title="cart"></a>
            </div>

            <div class="person">
                <div class="text">
                    <h1 style="text-align:center">Categories</h1>
                </div>
                <div class="authors_grid">
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                </div>
            </div>

            <div class="person">
                <div class="text">
                    <h1 style="text-align:center">New</h1>
                </div>
                <div class="authors_grid">
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                </div>
            </div>

            <div class="person">
                <div class="text">
                    <h1 style="text-align:center">Popular</h1>
                </div>
                <div class="authors_grid">
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>