<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriptions</title>
</head>
<body>

    {% include 'partials/sidebar.html' %}

    <div class="main-container">

        <div class="side_bar">
        </div>

        <div class="content">

            <div class="nav">
                <input type="text" name="search" id="search" placeholder="Search for ...">
                <button type="submit">Search</button>
                <a href="#"><img src="img/all_might.jpg" alt="cart" title="cart"></a>
            </div>

            <h1>Subscriptions</h1>
            <div class="subs">
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
            </div>

        </div>

    </div>

</body>
</html>