<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Books</title>
</head>
<body>

    {% include 'partials/sidebar.html' %}

    <div class="main-container">

        <div class="side_bar">
        </div>

        <div class="content">

            <div class="nav">
                <input type="text" name="search" id="search" placeholder="Search for ...">
                <button type="submit">Search</button>
                <a href="#"><img src="img/all_might.jpg" alt="cart" title="cart"></a>
            </div>

            <div class="person">
                <div class="address">
                    <ul>
                        <li><a href="#">#</a></li>
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">H</a></li>
                        <li><a href="#">I</a></li>
                        <li><a href="#">J</a></li>
                        <li><a href="#">K</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">N</a></li>
                        <li><a href="#">O</a></li>
                        <li><a href="#">P</a></li>
                        <li><a href="#">Q</a></li>
                        <li><a href="#">R</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">U</a></li>
                        <li><a href="#">V</a></li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
                <div class="all_grid">
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                    <div class="author">
                        <img src="img/eren.jpg" alt="author_pic">
                        <h3>Name</h3>
                        <h4>Rating:<span class="rate">4.5</span></h4>
                    </div>
                </div>
            </div>

            <div class="page">
                <ul>
                    <li><a href="#"><button>Prev</button></a></li>
                    <li><a href="#"><button>Next</button></a></li>
                    <li><a href="#"><button>1</button></a></li>
                    <li><a href="#"><button>1</button></a></li>
                    <li><a href="#"><button>1</button></a></li>
                    <li><a href="#"><button>1</button></a></li>
                    <li><a href="#"><button>1</button></a></li>
                </ul>
            </div>

        </div>

    </div>

</body>
</html>