<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    
    <div class="side_bar1">
        <div class="logo">
        <a href="sign-in.html"><img src="img/Fate_crest.png" title="Profile" alt="logo"></a>
        </div>
        <div class="nav_icons">
            <ul>
                <li><a href="home.html"><img src="img/fate.jpg" title="Home" alt=""></a></li>
                <li><a href="categories.html"><img src="img/fate.jpg" title="Categories" alt=""></a></li>
                <li><a href="favorites.html"><img src="img/fate.jpg" title="Favorites" alt=""></a></li>
                <li><a href="about.html"><img src="img/fate.jpg" title="About" alt=""></a></li>
            </ul>
        </div>
        <div class="subscribe">
            <div class="sub_bell">
                <a href="#"><img src="img/Boruto-karma-seal-Cropped.jpg" alt="subscribe"></a>
                <p>Subscriptions</p>
            </div>
        </div>
    </div>

    <div class="main-container">

        <div class="side_bar">
        </div>

        <div class="content">

            <div class="nav">
                <input type="text" name="search" id="search" placeholder="Search for ...">
                <button type="submit">Search</button>
                <a href="#"><img src="img/all_might.jpg" alt="cart" title="cart"></a>
            </div>

            <div class="about">
                <img src="img/I.png" alt="image">
                <p>Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Odio vero, dolores amet, 
                    quos maxime sequi, mollitia nulla blanditiis 
                    consequatur alias ab libero quo. Architecto 
                    laborum tempore neque deleniti a saepe iste, 
                    ipsum, natus debitis quis explicabo porro quod 
                    beatae? Animi doloribus ad expedita alias 
                    numquam quisquam, corporis qui recusandae 
                    consectetur!
                </p>
                <h1>My Skills</h1>
                <div class="grid2">
                <img src="img/lego.png" alt="">
                <p>
                    Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Odio vero, dolores amet, 
                    quos maxime sequi, mollitia nulla blanditiis 
                    consequatur alias ab libero quo. Architecto 
                    laborum tempore neque deleniti a saepe iste, 
                    ipsum, natus debitis quis explicabo porro quod 
                    beatae? Animi doloribus ad expedita alias 
                    numquam quisquam, corporis qui recusandae 
                    consectetur!
                </p>
                <img src="img/lego-blueprint.jpg" alt="">
                </div>
                <h1>Web Dev</h1>
                <p>
                <b>Front End</b><br>
                    Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Odio vero, dolores amet, 
                    quos maxime sequi, mollitia nulla blanditiis 
                    consequatur alias ab libero quo. Architecto 
                    laborum tempore neque deleniti a saepe iste, 
                    ipsum, natus debitis quis explicabo porro quod 
                    beatae? Animi doloribus ad expedita alias 
                    numquam quisquam, corporis qui recusandae 
                    consectetur!
                </p>
                <img id="img1" src="img/screen.jpg" alt="">
                <img id="img2" src="img/screen.jpg" alt="">
                <p>
                <b>Back End</b><br>
                    Lorem ipsum dolor sit, amet consectetur 
                    adipisicing elit. Odio vero, dolores amet, 
                    quos maxime sequi, mollitia nulla blanditiis 
                    consequatur alias ab libero quo. Architecto 
                    laborum tempore neque deleniti a saepe iste, 
                    ipsum, natus debitis quis explicabo porro quod 
                    beatae? Animi doloribus ad expedita alias 
                    numquam quisquam, corporis qui recusandae 
                    consectetur!
                </p>
            </div>
            <hr>
            <div class="contact">
                <h4>Contact:+233 454 867 894</h4>
                <h4>Email:someone@gmail.com</h4>
                <p><h3>Follow on</h3></p>
                <a href="#"><img src="img/facebook.png" alt="facebook"></a>
                <a href="#"><img src="img/youtube.png"  id="yt"alt="youtube"></a>
            </div>
        </div>

    </div>

</body>
</html>