<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="signin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <div class="main">
        <form action="myProfile.html">
            <h1>Edit Profile</h1>
            <input type="file" name="" id=""><br>
            <input type="text" placeholder="Username"><br>
            <textarea name="description" placeholder="What kind books do you write?" id="description" cols="26" rows="7"></textarea><br>
            <textarea name="about" placeholder="About yourself" id="about" cols="26" rows="7"></textarea><br>
            <button>Make Changes</button>
        </form>
    </div>
</body>
</html>