<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="signin.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=., initial-scale=1.0">
    <title>Publish</title>
</head>
<body>
    <div class="main">
        <form action="myProfile.html">
            <h1>PUBLISH</h1>
            <div>
            <input type="file" name="Book" id="">
            </div>
            <input type="text" placeholder="Book Name"><br>
            <div>
            <input type="file" name="" id=""></div>
            <input type="text" placeholder="Genre"><br>
            <button type="submit">PUBLISH</button>
        </form>
    </div>
</body>
</html>