*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color:black;
}
body{
    background-color: beige;
}
.main-container{
    display: grid;
    grid-template-columns: 10% 90%;
}

@media screen and (max-width:656px){
    .main-container{
        display: grid;
        grid-template-columns: 14% 85%;
    }
}
.side_bar1 img:hover{
    box-shadow: 0 0 8px black;
}
.side_bar1 img:active{
    box-shadow:0 0 15px black;
}
.logo img:hover,.logo img:active{
    box-shadow: 0 0 0 black;
}
.side_bar1{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    width: 7%;
    background-color:bisque;
    height: 100%;
}
.side_bar1 .logo{
    align-self: center;
    width:70%;
}
.side_bar1 .logo img{
    width:100%;
}
.side_bar1 .nav_icons{
    width:100%;
    text-align: center;
}
.nav_icons ul{
    list-style-type: none;
}
.side_bar1 .nav_icons img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.side_bar1 .subscribe{
    width: min-content;
    padding: 8px 8px 10px 8px;
    background-color: wheat;
    border-radius: 30px;
}
.side_bar1 .subscribe img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.side_bar1 .subscribe p{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    position: relative;
    left: 25%;
    text-orientation: sideways-right;
    font-size: 18px;
}
@media screen and (max-width:800px){
    .side_bar1{
        width:10%;
    }
}
@media screen and (max-width:656px){
    .side_bar1{
        width:13%;
    }
    .side_bar1 .nav_icons img{
        width:40px;
        height: 40px;
    }
    .side_bar1 .subscribe img{
        width:30px;
        height:30px;
    }
    .side_bar1 .subscribe p{
        left: 8%;
    }
}

/* sidebar */
.side_bar{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    background-color: blanchedalmond;
    height: 100vh;
}


/*content*/
.content .nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
}
.content .nav input{
    width:60%;
    padding:5px;
    border-radius: 50px;
}
.content .nav button{
    padding:3px 10px;
    border-radius: 50px;
    font-size: 18px;
    color:white;
    background: linear-gradient(45deg,red,blue,yellow);
    transition: .2s linear;
    cursor:pointer;
}
.content .nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}


/* categories */
.content .categories{
    display: grid;
    margin: 0 10px;
    grid-template-columns: repeat(11,1fr);
    grid-gap: 20px;
    overflow-x: auto;
}
.content .categories::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.categories .book{
    text-align: center;
}
.content .categories .book img{
    width:40px;
}
.categories a{
    color: black;
    text-decoration: none;
}
.categories a:hover{
    text-decoration: underline;
}


/* popular */
.popular a{
    text-decoration: none;
    color:black;
}
.popular .header{
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    padding: 5px 0 20px 0;
}
.popular .header .header_right{
    position: relative;
    right: 20px;
}
.popular .header .header_right button{
    font-size: 15px;
    padding:5px;
    border-radius: 50px;
    border:none;
    background-color: wheat;
    padding:8px 12px;
    cursor:pointer;
}
.popular .header .header_right button:not(:first-child){
    border-radius: 50%;
    padding: 8px;
}
.popular .books{
    display: grid;
    margin: 0 10px;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 20px;
    overflow-x: auto;
}
.popular .books::-webkit-scrollbar{
    scroll-behavior: smooth;
}
.popular .books img{
    width: 150px;
    border-radius: 15px 0 0 15px;
}
.popular .books h1{
    text-align: justify;
    font-size: 150%;
    font-weight: 500;
}
.popular .books p{
    color:red;
}
@media screen and (max-width:700px){
    .popular .books img{
        width: 100%;
    }
}


/* latest */
.latest{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    background-color: wheat;
    padding: 30px 10px 30px 10px;
    margin: 20px;
    border-radius: 20px;
}
.latest .img{
    align-self: center;
    text-align: center;
}
.latest .img img{
    width: 100%;
}
.latest .text{
    padding:10px;
    text-align: center;
    align-self: center;
}
.latest .text button{
    margin: 30px;
    background-color:salmon;
    border:none;
    border-radius: 50px;
    padding: 10px 15px;
    cursor: pointer;
}
.latest .categories{
    display:grid;
    height:inherit;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.latest .categories img{
    width: 100%;
    padding-right: 10px;
    align-self: center;
}
.latest .categories .items{
    display: grid;
    grid-template-columns:30% 60%;
    background-color: whitesmoke;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}
.latest .categories .items h1{
    font-size: 18px;
}
.latest .categories .items a{
    color : black;
    text-decoration: none;
}
@media screen and (max-width:1200px){
    .latest{
        grid-template-columns: repeat(2,1fr);
    }
    .latest .img img{
        width:70%;
    }
    .latest .categories{
        grid-template-columns: repeat(3,1fr);
        grid-column:1/3;
        margin-top: 20px;
    }
}
@media screen and (max-width:1000px){
    .latest .categories .items{
        grid-template-columns: 1fr;
        height: 100%;
    }
    .latest .categories img{
        padding: 15px;
        border-radius: 50%;
    }
}
@media screen and (max-width:650px){
    .latest .categories{
        grid-template-columns: repeat(1,1fr);
    }
    .latest .categories .items{
        display: block;
    }
    .latest .categories .items img{
        float: left;
        width: 100px;
    }
}


/* authors */
@media screen and (min-width: 700px){
    
.person{
    position: relative;
    right: 2%;
    z-index: -1;
    border-radius: 5px;
}
}
.person .text h1{
    font-weight: 100;
    padding-left: 20px;
}
.person:nth-child(even){
    background-color:rgb(229, 229, 182);
    margin:10px 0;
}
.person:nth-child(even) h1{
    padding: 15px 0;
}
.authors_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.authors_grid .author{
    padding: 5%;
    text-align: center;
    font-size:medium;
}
.authors_grid .author img{
    width: 60%;
}
.authors_grid .author h3,.authors_grid .author h4{
    font-weight:lighter;
}

/* about */
.about{
    padding:20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.about img{
    width:70%;
}
.about h1{
    grid-column: 1/3;
    margin: 20px 0;
}
.about .grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: 1/3;
    align-items: center;
    justify-items: center;
}
@media screen and (max-width:600px){
    .about .grid2{
    grid-template-columns: 1fr;
    }
    .about .grid2 img{
        margin: 15px 0;
    }
    .about p:not(:nth-of-type(1)){
        grid-column: 1/3;
    }
    .about #img1,#img2{
        margin: 20px 0;
        width:240px;
        grid-column: 1/3;
    }
    .about #img1{
        grid-row: 5/6;
        margin-top: 0;
    }
}
.contact{
    text-align: center;
    padding: 20px 0;
}
.contact a img{
    width: 20px;
    border-radius: 50%;
    margin: 5px;
}
.contact p{
    margin-top:5px;
}
#yt{
    position:relative;
    bottom: 2px;
    width:25px;
}

/* books */
.work{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.work h1,h2{
    font-size: 250%;
}
.work img{
    width: 60%;
    align-self: center;
    justify-self: center;
}
.work .second{
    display: none;
}
.work .cont2{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    align-items: center;
}
.work .cont2 h2{
    grid-column: 1/4;
}
.work .cont2 img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.work .cont2 button{
    height:30px;
    cursor:pointer;
    border-radius: 3px;
    border:1px black solid;
    background-color: wheat;
    color:black;
}
.work .cont2 button:hover{
    box-shadow: 0 0 3px black;
}
.popular .header .header_right button:not(:first-child){
    border-radius: 50%;
    padding: 8px;
}
.download{
    display:grid;
    padding: 10px;
    grid-template-columns: 1fr;
}
.download h2{
    font-size: 150%;
    text-align: left;
}
.download .buy{
    display: none;
}
.download button{
    background-color: wheat;
    width: 80px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
}
.work .like{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} 
.work .like img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
@media screen and (max-width:625px){
.work h1,h2{
    font-size: 18px;
    }
    .work .cont1 p,span #des{
    display: none;
    }
    .work .second{
    margin: 10px 0;
    display: block;
    grid-column: 1/3;
    }
    .download{
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 10px;
    }
    .download h2{
    font-size: 15px;
    font-weight: 400;
    }
    .download button{
        width: 50px;
    }
}


/* myProfile */
.profile .buttons button{
    height:max-content;
    padding: 5px;;
    font-size: 15px;
    cursor:pointer;
    width:max-content;
    border-radius: 3px;
    border:1px black solid;
    background-color: wheat;
    color:black;
}
.profile .buttons button:hover{
    box-shadow: 0 0 2px black;
}


/* profile */
.profile{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
}
.profile img{
    border-radius:50%;
    border: 1px solid rgb(180, 180, 180);
    height: 200px;
    width: 200px;
}
.description{
    padding: 10px;
}
.description h1{
    margin-bottom: 10px;
}
.pub{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
#alone{
    padding: 0 0 10px 10px;
}
.pub .art img{
    width: 60%;
}
.pub .art{
    margin-bottom: 10px;
}
.rate{
    color:rgb(173, 132, 26);
}

@media screen and (max-width:625px){
    .profile img{
    height: 100px;
    width: 100px;
    }
    .pub{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .pub .art img{
        width:90%;
    }
}


/* surfing all */
.address ul{
    text-align: center;
    list-style-type: none;
}
.address ul li{
    text-align: center;
    display: inline;
    font-size: large;
    padding: 2px;
}
.address ul li a{
    color:black;
	cursor:pointer;
}
.address ul li a:hover{
    color:red;
}
.all_grid{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    text-align: center;
}
.all_grid img{
    width:80%;
    margin-top: 20px;
}
.all_grid .author h3{
    font-size: 18px;
}
.all_grid .author h4{
    font-size: 15px;
}
.page ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.page ul li{
    padding: 10px 0 0 10px;
}
.page li button{
    height:30px;
    font-size: 15px;
    cursor:pointer;
    width:40px;
    border-radius: 3px;
    border:1px black solid;
    background-color: wheat;
    color:black;
}
.page li button:hover{
    box-shadow: 0 0 3px black;
}
@media screen and (max-width:625px){
.all_grid{
    grid-template-columns: repeat(3,1fr);
}
.page ul{
    list-style-type: none;
    display: grid;
    grid-template-columns:repeat(6,1fr);
}
.page ul li{
    padding: 10px 0 0 10px;
}
}


/* subscription */
.subs{
    display: flex;
    flex-wrap: wrap;
}
.subs img{
    width: 200px;
    height: 200px;
}
.sub_to{
    padding: 10px;
}
h4{
    font-weight: 400;
    font-size: 18px;
}
@media screen and (max-width:625px){
.subs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.subs img{
    width: 90%;
    height:90%;
}
}