<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriptions</title>
</head>
<body>
    
    <div class="side_bar1">
        <div class="logo">
        <a href="sign-in.html"><img src="img/Fate_crest.png" title="Profile" alt="logo"></a>
        </div>
        <div class="nav_icons">
            <ul>
                <li><a href="home.html"><img src="img/fate.jpg" title="Home" alt=""></a></li>
                <li><a href="categories.html"><img src="img/fate.jpg" title="Categories" alt=""></a></li>
                <li><a href="favorites.html"><img src="img/fate.jpg" title="Favorites" alt=""></a></li>
                <li><a href="about.html"><img src="img/fate.jpg" title="About" alt=""></a></li>
            </ul>
        </div>
        <div class="subscribe">
            <div class="sub_bell">
                <a href="#"><img src="img/Boruto-karma-seal-Cropped.jpg" alt="subscribe"></a>
                <p>Subscriptions</p>
            </div>
        </div>
    </div>

    <div class="main-container">

        <div class="side_bar">
        </div>

        <div class="content">

            <div class="nav">
                <input type="text" name="search" id="search" placeholder="Search for ...">
                <button type="submit">Search</button>
                <a href="#"><img src="img/all_might.jpg" alt="cart" title="cart"></a>
            </div>

            <h1>Subscriptions</h1>
            <div class="subs">
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
                <div class="sub_to">
                    <img src="img/3497661.jpg" alt="">
                    <h4>Name</h4>
                </div>
            </div>

        </div>

    </div>

</body>
</html>